doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Algorithme génétique
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='./materialize.min.css')
  body.grey.lighten-3
    #nav.row.container
      .card-panel
        h1.center Algorithme génétique
    #main
      .row.container
        #vue.col.s8
          .card-panel
            canvas#graph(width='400', height='200')
        #actions.col.s4
          .card-panel.center
            .row
              button#nouvelleGeneration.btn Nouvelle génération
            .row
              .col.s6
                button#play.btn Play
              .col.s6
                button#pause.btn Pause
          .card-panel.s6
            .row       
      .row.container
        .card-panel.col.s12
          .row
            #maps.col.s6
                h5 Carte
                canvas#map(height=400,width=400)
            .col.s6
                h6 Meilleur chromozome
                p Génération n°: 
                  span#ngenC
                p Kilomètres: 
                  span#best-km
                p Trajet: 
                  span#best-trajet
          
    #footer.row
      .card-panel.col.s12
        p.center
          | Réalisé par Maxime Chevallier-Pichon et Gabriel Fruhauf dans le cadre du projet algorithme génétique proposé par Nidal Djemam en 4
          sup ème
          |  année à l'
          a(href='epsi.fr') EPSI Bordeaux
          | .
    script(src='./jquery.min.js')
    script(src='./materialize.min.js')
    script(src='./Chart.min.js')
    script(src='./gestionIHM.js')
